body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
    overflow-x: hidden;
    height: 100vh;
}

#logo {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 2; /* Garante que fique acima do conteúdo */
}

#pb {
    width: 250px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 2; /* Garante que fique acima do conteúdo */
}

header {
    background-color: transparent;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    padding: 20pt;
    z-index: 1;
}

footer {
    position: absolute; /* Permite que o rodapé se sobreponha ao modelo 3D */
    bottom: 20px; /* Distância do fundo da tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o rodapé para ficar centralizado */
    z-index: 2; /* Garante que o rodapé esteja acima do modelo 3D */
    width: 100%; /* Largura total */
    padding: 10px 0; /* Espaçamento interno */
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

button {
    font-family: 'Montserrat', sans-serif;
    flex: 0 0 calc(12.5% - 10px);
    max-width: 100%;
    display: inline-block;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    padding: 8px;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    border: 2px solid white;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

button:disabled {
    background-color: #555; /* Cor escura para o botão */
    color: #ccc; /* Cor clara para o texto */
    cursor: not-allowed; /* Cursor que indica que o botão não é clicável */
    opacity: 0.6; /* Deixa o botão um pouco transparente */
}


model-viewer {
    display: block;
    width: 100vw;
    height: calc(100vh - 80px);
}

.button-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    overflow: hidden;
    max-width: 100%;
    justify-content: center; /* Alinha os botões à esquerda */
    width: 100%;
    margin: 0 auto; /* Centraliza o contêiner */
    padding: 30px;
    border-radius: 10px;
    background-color: transparent;
    transition: transform 0.3s ease; /* Transição suave para o movimento */
}

#skin-names {
    margin-top: 20px; /* Espaçamento superior */
}

#skin-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skin-button-container.show {
    display: flex; /* Mostra quando a classe 'show' é adicionada */
    justify-content: center; /* Centraliza os botões */
    flex-wrap: wrap; /* Permite que os botões quebrem para a próxima linha */
}

.skin-button {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    margin: 10px; /* Espaçamento entre os botões */
    border: 2px solid #999999; /* Borda do botão */
    border-radius: 8px; /* Arredondar os cantos */
    display: flex;
    flex-direction: column; /* Coloca a imagem em cima do título */
    align-items: center; /* Centraliza o conteúdo */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: transform 0.3s; /* Efeito de transição */
}

.skin-button img {
    width: 80%; /* Ajuste o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
    padding: 5%;
}

.skin-button span {
    margin-top: 5px; /* Espaçamento entre a imagem e o título */
    font-size: 14px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    color: #ffffff; /* Altere para a cor desejada, por exemplo, branco */
}

.skin-button:hover {
    transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
}
